@page
@{
    ViewData["Title"] = "Welcome";
}
Uživatel: <select id="groupId">
    <option value="groupA">Group A</option>
    <option value="groupB">Group B</option>
    <option value="groupC">Group C</option>
    <option value="groupD">Group D</option>
</select>
<br />
Uživatel: <input type="text" id="user" value="" required />
<br />
<input type="button" id="connect" value="Připojit" />
<br />
Zpráva:
<br />
<textarea id="messageInput" required></textarea>
<br />
<input type="button" id="sendButton" value="Odeslat" />
<br>
<ul id="messagesList"></ul>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
